In [34]:
import pandas as pd
import numpy as np

In [35]:

qq = pd.read_csv('/Users/jamesliao2018/Downloads/all/application_train.csv')

In [36]:
qq.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [37]:
qq.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [38]:
qq.FLAG_OWN_CAR.dtypes=='object'

True

In [39]:
qq.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [40]:
ww=qq.head()

In [41]:
pd.get_dummies(qq.loc[:,['SK_ID_CURR','NAME_HOUSING_TYPE']])

,SK_ID_CURR,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents
0,100002,0,1,0,0,0,0
1,100003,0,1,0,0,0,0
2,100004,0,1,0,0,0,0
3,100006,0,1,0,0,0,0
4,100007,0,1,0,0,0,0
5,100008,0,1,0,0,0,0
6,100009,0,1,0,0,0,0
7,100010,0,1,0,0,0,0
8,100011,0,1,0,0,0,0
9,100012,0,1,0,0,0,0
10,100014,0,1,0,0,0,0
11,100015,0,1,0,0,0,0
12,100016,0,1,0,0,0,0
13,100017,0,1,0,0,0,0
14,100018,0,1,0,0,0,0
15,100019,0,0,0,0,1,0
16,100020,0,1,0,0,0,0
17,100021,0,1,0,0,0,0
18,100022,0,1,0,0,0,0
19,100023,0,1,0,0,0,0
20,100024,0,1,0,0,0,0
21,100025,0,1,0,0,0,0
22,100026,0,0,0,0,1,0
23,100027,0,1,0,0,0,0
24,100029,0,1,0,0,0,0
25,100030,0,1,0,0,0,0
26,100031,0,1,0,0,0,0
27,100032,0,1,0,0,0,0
28,100033,0,1,0,0,0,0
29,100034,0,0,0,0,0,1
...,...,...,...,...,...,...,...
307481,456225,0,1,0,0,0,0
307482,456226,0,1,0,0,0,0
307483,456227,0,1,0,0,0,0
307484,456228,0,0,0,0,1,0
307485,456229,0,0,0,0,0,1
307486,456230,0,1,0,0,0,0
307487,456231,0,1,0,0,0,0
307488,456232,0,1,0,0,0,0
307489,456233,0,1,0,0,0,0
307490,456234,0,1,0,0,0,0
307491,456235,0,1,0,0,0,0
307492,456236,0,1,0,0,0,0
307493,456237,0,1,0,0,0,0
307494,456238,0,1,0,0,0,0
307495,456239,0,1,0,0,0,0
307496,456240,0,1,0,0,0,0
307497,456241,0,1,0,0,0,0
307498,456242,0,1,0,0,0,0
307499,456243,0,1,0,0,0,0
307500,456244,0,1,0,0,0,0
307501,456245,0,1,0,0,0,0
307502,456246,0,1,0,0,0,0
307503,456247,0,1,0,0,0,0
307504,456248,0,1,0,0,0,0
307505,456249,0,1,0,0,0,0
307506,456251,0,0,0,0,0,1
307507,456252,0,1,0,0,0,0
307508,456253,0,1,0,0,0,0
307509,456254,0,1,0,0,0,0
307510,456255,0,1,0,0,0,0

In [42]:
ee = pd.get_dummies(qq)

In [43]:
qq.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
qq.shape

(307511, 122)

In [45]:
ee.shape

(307511, 246)

In [46]:
ee = ee.fillna(0)

In [47]:
ee.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,0,0,0,0,0

In [48]:
from sklearn.model_selection import StratifiedKFold
X = ee.drop('TARGET',axis=1)
y = ee.TARGET
skf = StratifiedKFold(n_splits=5)
skf.get_n_splits(X, y)
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(
    n_estimators=50,
    criterion='gini',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=True,
    oob_score=False,
    n_jobs=-1,
    random_state=0,
    verbose=0,
    warm_start=False,
    class_weight='balanced'
)

In [49]:

print(skf)  

for train_index, test_index in skf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.loc[train_index], X.loc[test_index]

    y_train, y_test = y.loc[train_index], y.loc[test_index]
    rf.fit(X_train, y_train)

StratifiedKFold(n_splits=5, random_state=None, shuffle=False)
TRAIN: [ 61465  61466  61467 ... 307508 307509 307510] TEST: [    0     1     2 ... 61814 61816 61828]

KeyboardInterrupt: